.wrapper {
   display: flex;
   align-items: stretch;
}

#sidebar.active {
   margin-left: -250px;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
   font-family: 'Poppins', sans-serif;
   background: #fafafa;
}

p {
   font-family: 'Poppins', sans-serif;
   font-size: 1.1em;
   font-weight: 300;
   line-height: 1.7em;
   color: #999;
}

a, a:hover, a:focus {
   color: inherit;
   text-decoration: none;
   transition: all 0.3s;
}

#sidebar {
   /* don't forget to add all the previously mentioned styles here too */
   min-width: 250px;
   max-width: 250px;
   min-height: 100vh;
   /* #0288d1 is the primary blue color of study buddy */
   background: #0288d1;
   color: #fff;
   transition: all 0.3s;
}

#buttonSidebar {
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonHome {
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-weight: bold;
}

.blueBox {
    background-image: url("/static/images/apple-256261_1920.jpg");
    background-color: #cccccc;
    background-size: cover;
    width: 100%;
    height:80%;
    background-color: rgba(0, 128, 245, 0.82);
    opacity: 0.80;
}

#sidebar .sidebar-header {
   padding: 20px;
   background: #0288d1;
}

#sidebar ul p {
   color: #fff;
   padding: 10px;
}

#sidebar ul li a {
   padding: 10px;
   font-size: 1.1em;
   display: block;
   color: #fff;
}

#sidebar ul li a:hover {
   color: #7386D5;
   background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
   color: #fff;
   background: #6d7fcc;
}
ul ul a {
   font-size: 0.9em !important;
   padding-left: 30px !important;
   background: #6d7fcc;
}


