{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}

<html>
    <head>
        <title>Profiles</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
    <head>
        <div class="container">
            <title>Study Buddy</title>
            <nav class="navbar navbar-expand-md navbar-light">
                <a href="{% url 'home' %}" class="navbar-brand">
                    <img src="{% static 'images/Study_Buddy_Logo.png' %}" alt="StudyBuddy Logo" width="70" height="70"
                    class="d-inline-block align-top" />
                    StudyBuddy</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#toggleMobileMenu"
                    aria-controls="toggleMobileMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="toggleMobileMenu">
                    <ul class="navbar-nav ms-auto text-center">
                        <li>
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'planner' %}">Planner</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'studyposts' %}">Study Posts</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'chat_index' %}">Chat</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </head>
        <ul>
            <div class="container">
              <h1 >Other Profiles</h1>
              <div class = "row">
          {% for p in profiles_list %}
              <div class = "col-lg-3 d-flex align-items-stretch mb-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h3 >{{p}}'s Profile</h3>
                    <div>
                        <button type="submit" class="btn btn-info">
                            <a href="{% url 'viewprofile' p.user.username %}">View Profile</a>
                        </button>
                    </div>
                    

                  <div>
                    <form action="{% url 'addfriend' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="primary_key_profile" value={{p.pk}}>
                        {% if p not in requests_for_user and p not in requests_by_user%}
                            <button type="submit" class="btn btn-success"> Add Friend</button>
                        {% endif %}
    
                    </form>
                  </div>
                  


                  <div>
                    {% if p in requests_for_user and request.user not in p.friends_list.all %}
                        <button type="button" class="btn btn-secondary btn" disabled> Friend Request Pending</button>
                    {% endif %}
                  </div>
                    
                  <form action="{% url 'removefriend' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="primary_key_profile" value={{p.pk}}>
                    {% if request.user in p.friends_list.all%}
                        <button type="submit" class="btn btn-danger"> Remove Friend</button>
                    {% endif %}

                  </form>
                    
                </div>
                  
                </div>
              </div>
          {% endfor %}
          </div>
          </div>
          
          </ul>

    </body>
</html>