{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}


<html>
    <head>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a href="#" class="navbar-brand">
                    <img src="{% static '/images/Study_Buddy_Logo.png' %}" alt="StudyBuddy Logo" width="70" height="70"
                    class="d-inline-block align-top" />
                    StudyBuddy</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#toggleMobileMenu"
                    aria-controls="toggleMobileMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="toggleMobileMenu">
                    <ul class="navbar-nav ms-auto text-center">
                        <li>
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Planner</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Profile</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Chat</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mx-auto">
                    <form action="{% url 'editprofiles'%}" method="post" class="form">
                        {% csrf_token %}
                        <fieldset>
                            <meta name="viewport" content="width=device-width, initial-scale=1">
                        
                            <h1 style="color: #6795e4;">Study Buddy Profile Information</h1>
                            
                            <div class="mb-3">
                                <label for="name" class="form-label" style="color: #6795e4;">Name:</label>
                                <!-- <textarea name="name" class="form-control" id="title" rows="1" required="True"></textarea> -->
                                {{ profile_form.name }}
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label" style="color: #6795e4;">Email:</label>
                                <!-- <textarea name="email" class="form-control" id="text" rows="1" required="True"></textarea> -->
                                {{ profile_form.email }}
                            </div>
                            <div class="mb-3">
                                <label for="year" class="form-label" style="color: #6795e4;">Year:</label>
                                <!-- <textarea name="year" class="form-control" id="text" rows="1" required="True"></textarea> -->
                                {{ profile_form.year }}
                            </div>
                            <div class="mb-3">
                                <label for="major" class="form-label" style="color: #6795e4;">Major:</label>
                                <!-- <textarea name="major" class="form-control" id="text" rows="1" required="True"></textarea> -->
                                {{ profile_form.major }}
                            </div>
                            <div class="mb-3">
                                <label for="interests" class="form-label" style="color: #6795e4;">Interests:</label>
                                <!-- <textarea name="interests" class="form-control" id="text" rows="6" required="True"></textarea> -->
                                {{ profile_form.interests }}
                            </div>
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>