{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}

<html>
    <head>
        <title>Friends</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
    <head>
        <div class="container">
            <title>Study Buddy</title>
            <nav class="navbar navbar-expand-md navbar-light">
                <a href="#" class="navbar-brand">
                    <img src="{% static '/images/Study_Buddy_Logo.png' %}" alt="StudyBuddy Logo" width="70" height="70"
                    class="d-inline-block align-top" />
                    StudyBuddy</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#toggleMobileMenu"
                    aria-controls="toggleMobileMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="toggleMobileMenu">
                    <ul class="navbar-nav ms-auto text-center">
                        <li>
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'planner' %}">Planner</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'studyposts' %}">Study Posts</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'chat_index' %}">Chat</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </head>
    <body>

        <div class="container">
            <div class="row">
                
                {% if request_num != 0 %}
                    <h1>Request Sent By: </h1>
                    {%for r in request_senders%}
                    <div class="row">
                        <div class="card" style="width: 36rem; margin-bottom: 10px;">
                            <div class="card-body">
                                <h3>{{r}}</h3>
                                <button type="submit" class="btn btn-info" style="margin-bottom: 20px;">
                                    <a href="{% url 'viewprofile' r.user.username %}">View Profile</a>
                                </button>
                                
                                <div class="row">
                                    <div class="col">
                                        <form action="{% url 'acceptfriend' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="primary_key_profile" value={{r.pk}}>
                                                <button type="submit" class="btn btn-success"> Accept Friend Request</button>
                                        </form>
                                    </div>
                                    
                                    <div class="col">
                                        <form action="{% url 'declinefriend' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="primary_key_profile" value={{r.pk}}>
                                                <button type="submit" class="btn btn-danger"> Reject Friend Request</button>
                                        </form>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                {% endif %}
       
                {% if request_num == 0 %}
                    <h3> You have no Friend Requests currently </h3>
                {% endif %}
            </div>
        </div>
        

    </body>
</html>