{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% bootstrap_messages %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Load CSS and JavaScript #}
{% load socialaccount %}
{# Load the tag library #}


<html>
    <head>
        <title>Home</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
    <head>
        {%if user.is_authenticated%}
        
        <div class="container">
            <title>Study Buddy</title>
            <nav class="navbar navbar-expand-md navbar-light">
                <a href="#" class="navbar-brand">
                    <img src="{% static 'images/Study_Buddy_Logo.png' %}" alt="StudyBuddy Logo" width="70" height="70"
                    class="d-inline-block align-top" />
                    StudyBuddy</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#toggleMobileMenu"
                    aria-controls="toggleMobileMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="toggleMobileMenu">
                    <ul class="navbar-nav ms-auto text-center">
                        <li>
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'planner' %}">Planner</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'studyposts' %}">Study Posts</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'chat_index' %}">Chat</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            
        </div>
        {% else %}
    </head>
    
    <head>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a href="#" class="navbar-brand">
                    <img src="{% static 'images/Study_Buddy_Logo.png' %}" alt="StudyBuddy Logo" width="70" height="70"
                    class="d-inline-block align-top" />
                    StudyBuddy</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#toggleMobileMenu"
                    aria-controls="toggleMobileMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="toggleMobileMenu">
                    <ul class="navbar-nav ms-auto text-center">
                    </ul>
                </div>
            </nav>
        </div>
    </head>
    {% endif %}

<body>
    
    {% if user.is_authenticated %}

        <head>

               <div class="wrapper">
                   <!-- Sidebar -->
                   <link rel="stylesheet" href="{% static 'styles.css' %}">
                   <nav id="sidebar">
                       <div class="sidebar-header">
        
                           <h3>Friends</h3>
                       <ul class="list-unstyled components">
                            {% if not user.profile.get_friends_list %}
                                <li align="center"><a href="{% url 'allprofiles' %}">No Friends (Click to add friends)</a></li>
                            {% endif %}
                           {%for f in user.profile.get_friends_list%}
                                 <li style="padding-left: 0px;"><a href="{% url 'viewprofile' f %}">{{f}}</a></li>
                            {%endfor%}
                       </ul>
        
                           <h3>Schedule</h3>
                       </div>
                       <ul class="list-unstyled components" >
                           {% if not user.profile.get_classes  %}
                                <li align="center"><a href="{% url 'schedule' %}">No Classes (Click to add classes)</a></li>
                            {% endif %}
                           {%for f in user.profile.get_classes%}
                                <li style="padding-left: 0px;"><a href="{% url 'viewclass' f.ClassName %}">{{f}}</a></li>
                           {%endfor%}
                           <button id= "buttonSidebar" type="submit" class="btn btn-light"><a href="/upload" style="font-weight: 300; color: rgba(30, 209, 227, 1);">Post A Study Session</a></button>
                       </ul>
                   </nav>
                    <!-- <div align="center">

                    </div> -->
                   <div>
                           <!--ADD HOME PAGE INFO-->
                           <link rel="stylesheet" href="{% static 'morestyles.css' %}">
                       <div id="main">
                           <div class="inner">
                               <section id="banner">
                                    <div class="content">
                                        <header>
                                            <h1 id="randText" style="font-weight: 200;">Welcome to StudyBuddy!<br />
                                            </h1>
                                            <br>
                                            <p id="randText" style="font-weight: 200;">A place to find people to study and make friends with</p>
                                        </header>
                                        <p id="randText">Sometimes reaching out to classmates to study together is hard, well thanks to StudyBuddy we've
                                        made it easier to find other people in your class to form a study session with. It could be someone you really wanted to talk to but haven't had
                                        the opportunity to do so yet or it could be friends of yours that you want to formally create a study group with and let others in your class join!
                                            Here at StudyBuddy we want to reduce the steps it takes to study with one another, so you can just focus on that exam, presentation or group assignment of yours!
                                            <!--<br><br><h4 > Study with people of similar interests!</h4> <p align="center">or</p> <h4 align="right">Find new friends from joining a study session! </h4>--></p>
                                        <!--
                                        <ul class="actions">
                                            <li><a href="#" class="btn btn-outline-info">Learn More</a></li>
                                        </ul>-->
                                    </div>
                                    <span class="image object">
                                        <img src="{% static 'images/priscilla-du-preez-XkKCui44iM0-unsplash.jpg' %}" alt="" />
                                    </span>
                                </section>
                               <section>
									<header class="major">
										<h2>New Users</h2>
									</header>
									<div class="features">
										<article>
                                            <!--#00d1ffcc-->
											<span class="image object" >
                                                <img style="padding-right: 20px;"src="{% static 'images/icons8-male-user-50.png' %}" alt="" />
                                            </span>
											<div class="content">
												<h3>Profile</h3>
												<p>First thing you want to do as a new user of StudyBuddy is create your profile! After building your profile start adding classes to your schedule to create study posts
                                                 and view study sessions for that particular class!</p>
                                                <a href="{% url 'profile' %}" class="btn btn-outline-info" role="button" style="font-family:Poppins,sans-serif; font-weight: 300;">Create your profile</a>
											</div>
										</article>
										<article>
											<span class="image object" > 
                                                <img style="padding-right: 20px;"src="{% static 'images/icons8-what-i-do-50.png' %}" alt="" />
                                            </span>
											<div class="content">
												<h3>Planner</h3>
												<p>Planner is where you will see all of your finalized study sessions that either you created and finalized or you're a part of a finalized study session. Both instances you will see the specific day, time and location of the session.
                                                 As a new user you will not have any finalized study session so to do so start creating or join study posts!</p>
											</div>
										</article>
										<article>
											<span class="image object" > 
                                                <img style="padding-right: 20px;"src="{% static 'images/icons8-reading-50.png' %}" alt="" />
                                            </span>
											<div class="content">
												<h3>Study Posts</h3>
												<p>Study Posts contains all the study sessions that other StudyBuddy users created and are not finalized yet. Here you can sort all sessions from when they were created, latest and earliest date/time and class name.
                                                You can join a study session that interests you and wait for the creator of the session to accept your request to join. You can also filter sessions by your friends list, ones you created and ones you are attending.</p>
											</div>
										</article>
										<article>
											<span class="image object" > 
                                                <img style="padding-right: 20px;"src="{% static 'images/icons8-communication-50.png' %}" alt="" />
                                            </span>
											<div class="content">
												<h3>Chat</h3>
												<p>Chat provides StudyBuddy users with the opportunity to message others through chat rooms that are available or through new ones that you can create! Message others in your study sessions or message people that you want advice from on a certain class!</p>
                                                <a href="{% url 'chat_index' %}" class="btn btn-outline-info" role="button" style="font-family:Poppins,sans-serif; font-weight: 300;">Chat with other users!</a>
											</div>
										</article>
									</div>
								</section>
                            </div>
                       </div>
                   </div>
               </div>
               
            </head>

            
    {% else %}
    
    <div >

        <link rel="stylesheet" href="{% static 'styles.css' %}">
        
        <div class="blueBox">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            <div class="container">

                <div class="row">
                    <h1 style="color:rgba(235, 235, 235, 1); padding-top: 50px; padding-bottom: 20px; text-align: center;"> Find Study Buddies for your UVA classes</h1>
                    <br>
                    <h5 style="color:rgba(235, 235, 235, 1); padding-bottom: 20px; text-align: center;"> StudyBuddy helps you work smarter.</h5>
                    <button class="btn btn-light" id="buttonHome" type="submit">
                        <a href="{% provider_login_url 'google' %}" style="text-decoration:none; text-align: center;">
                            
                            <h6 style="color:rgb(120, 120, 120); font-weight: normal; text-align: center;">Login with Google</h6>
                        </a>
                    </button>
                </div>
            </div>   

        </div>
        
    </div>
    
    {% endif %}


    
    
</body>

</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
