{% load socialaccount %}
{% load bootstrap5 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<html>
    <head>
        <title>Login</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
    {%if user.is_authenticated%}
    <head>
        <div class="container">
            <title>Study Buddy</title>
            <nav class="navbar navbar-expand-md navbar-light">
                <a href="#" class="navbar-brand">
                    <img src="{% static 'images/Study_Buddy_Logo.png' %}" alt="StudyBuddy Logo" width="70" height="70"
                    class="d-inline-block align-top" />
                    StudyBuddy</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#toggleMobileMenu"
                    aria-controls="toggleMobileMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="toggleMobileMenu">
                    <ul class="navbar-nav ms-auto text-center">
                        <li>
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'planner' %}">Planner</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'studyposts' %}">Study Posts</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'chat_index' %}">Chat</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </head>
    {% else %}
    <head>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a href="#" class="navbar-brand">
                    <img src="{% static 'images/Study_Buddy_Logo.png' %}" alt="StudyBuddy Logo" width="70" height="70"
                    class="d-inline-block align-top" />
                    StudyBuddy</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#toggleMobileMenu"
                    aria-controls="toggleMobileMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="toggleMobileMenu">
                    <ul class="navbar-nav ms-auto text-center">
                        <li>
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </head>
    {% endif %}

<body>
    <!-- <h1>Study Buddies Login Page</h1> -->
    {% if user.is_authenticated %}
    <!-- <p>Login Successful.</p>
    <p>Welcome to Study Buddies, {{ user.username }}!</p> -->
    <!-- {% for course in user.profile.get_classes %}
        <h3><a href="{% url 'viewclass' course}">{{course}}</a></h3>
    {% endfor %} -->
    <!-- <p><button><a href="{% url 'home' %}">Go back to Home Page</a></button> -->

    <!-- <p><button><a href="{% url 'logout' %}">Logout</a></button> -->

        <head>

            <link rel="stylesheet" href="{% static 'styles.css' %}">
               <div class="wrapper">
                   <!-- Sidebar -->
                   <nav id="sidebar">
                       <div class="sidebar-header">
        
                           <h3>Friends</h3>
                       <ul class="list-unstyled components">
                            {% if friends_num == 0 %}
                                <li><a> No Friends </a></li>
                            {% endif %}
                           {%for f in user.profile.get_friends_list%}
                                 <li><a href="{% url 'viewprofile' f %}">{{f}}</a></li>
                            {%endfor%}
                       </ul>
        
                           <h3>Schedule</h3>
                       </div>
                       <ul class="list-unstyled components" >
                           {%for f in user.profile.get_classes%}
                                <li><a href="{% url 'viewclass' f}">{{f}}</a></li>
                           {%endfor%}
                           <button id= "butt" type="submit" class="btn btn-light"><a href="/upload">Post A Study Session</a></button>
                       </ul>
                   </nav>
                    <div align="center">

                        <h1 >Welcome to StudyBuddy {{user.username}}!</h1>
                        <!-- <p><button><a href="{% url 'logout' %}">Logout</a></button> -->
                    </div>
               </div>
               
            </head>

            

    {% else %}
    
    <button><a href="{% provider_login_url 'google' %}">Login with Google</a></button>
    {% endif %}

    <!-- <button><a href="{% url 'uploadStudyPost' %}">Post A Study Session</a></button> -->

    
    
</body>

</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
