{% load socialaccount %}
{% load bootstrap5 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load crispy_forms_tags %}


<html>
    <head>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a href="#" class="navbar-brand">
                    <img src="{% static '/images/Study_Buddy_Logo.png' %}" alt="StudyBuddy Logo" width="70" height="70"
                    class="d-inline-block align-top" />
                    StudyBuddy</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#toggleMobileMenu"
                    aria-controls="toggleMobileMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="toggleMobileMenu">
                    <ul class="navbar-nav ms-auto text-center">
                        <li>
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'planner' %}">Planner</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'studyposts' %}">Study Posts</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'chat_index' %}">Chat</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </head>

    <body>
        <div>
            <div class="container">
                <h1 align="center"> All Study Posts</h1>

                <div class="text-center">
                    <button type="submit" class="btn btn-info">
                        <a href="{% url 'uploadStudyPost' %}">Upload a Study Post</a>
                    </button>

                    <button type="submit" class="btn btn-info">
                        <a href="{% url 'viewpostrequests' %}">View Post Requests for Your Study Sessions</a>
                    </button>
                </div>
                <br>
                <div class="row">
                    {% for p in posts%}
                    <div class="col-lg-3 d-flex align-items-stretch mb-4">
                    <div class="card" >
                        <div class="card-body">
                       
                            <p><b>Post created by:</b></p>
                            <p>{{p.user}}</p>
                        
                            <p><b>Class:</b></p>
                            <p>{{p.user_luther_class}}</p>
                        
                            <p><b>Date and Time:</b></p>
                            <p>{{p.timeDate}}</p>

                            <p><b>Location:</b></p>
                            <p>{{p.location}}</p>

                            <p><b>Description:</b></p>
                            <p>{{p.description}}</p>
                        
                            <p><b>Study Session Members:</b></p>
                            {% if not p.groupUsers.all%}
                                <p>Currently no other member. {{p.user}} is looking for study buddies!</p>
                            {% endif %}
                            {% for pg in p.groupUsers.all%}
                                <p>{{pg}}</p>
                            {% endfor %}

                            <div>
                                <form action= "{% url 'joinsession' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="primary_key_post" value={{p.pk}}>
                                    {% if p in can_request %}
                                        <button type="submit" class="btn btn-success"> Join Session</button>
                                    {% endif %}
                
                                </form>
                            </div>

                            <div>
                                {% if p in post_pending %}
                                    <button type="button" class="btn btn-secondary btn" disabled> Request Pending</button>
                                {% endif %}
                            </div>

                            
                            <div>
                                <form action="{% url 'deletepost' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="primary_key_post" value={{p.pk}}>
                                        {% if p in user_posts %}
                                            <button type="submit" class="btn btn-danger"> Delete Session</button>
                                        {% endif %}
                                </form>
                            </div>


                            <div>

                                <form action="{% url 'leavesession' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="primary_key_post" value={{p.pk}}>
                                    {% if p in member_posts %}
                                        <button type="submit" class="btn btn-warning"> Leave Session</button>
                                    {% endif %}
                
                                </form>
                            </div>
                              

                            
                    </div>
                    </div>
                </div>
                    {% endfor %}
                    
                    
                </div>
            </div>
            
        </div>
    </body>
</html>