{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}

<html>
    <head>
        <title>Profile</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
    <head>
        <div class="container">
            <title>Study Buddy</title>
            <nav class="navbar navbar-expand-md navbar-light">
                <a href="#" class="navbar-brand">
                    <img src="{% static 'images/Study_Buddy_Logo.png' %}" alt="StudyBuddy Logo" width="70" height="70"
                    class="d-inline-block align-top" />
                    StudyBuddy</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#toggleMobileMenu"
                    aria-controls="toggleMobileMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="toggleMobileMenu">
                    <ul class="navbar-nav ms-auto text-center">
                        <li>
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'planner' %}">Planner</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'studyposts' %}">Study Posts</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'chat_index' %}">Chat</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </head>

    <body>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <br>
        <div class="container">
            <div class="row">
                {% if user.username == request.user.username %}
                         <h1 style="font-family: 'Poppins', sans-serif;" >Your Profile</h1>
                    {% else %}
                        <h1>Profile for {{user.username}}</h1>
                {%endif%}
                <div class="col-sm-6 mx-auto" >
                    <!-- {% if user.username == request.user.username %}
                         <h1 style="font-family: 'Poppins', sans-serif;" align="center">Your Profile</h1>
                    {% else %}
                        <h1>Profile for {{user.username}}</h1>
                    {%endif%} -->
                    
                    <br>
                    <br>
                    <div class="card" style="width: 29rem;" >
                        <div class="card-header" style="height: 8rem;">
                            <div align="center">
                                <br>
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                              </svg>
                            </div>
                        </div>
                        <ul>
                            <br>
                        
                        <h4>Name: {{profile_data.name}}</h4>
                        <h4>Email: {{profile_data.email}}</h4>
                        <h4>Year: {{profile_data.year}}</h4>
                        <h4>Major: {{profile_data.major}}</h4>
                        <h4>Interests: {{profile_data.interests}}</h4>

                        <br>
                        {% if user.username == request.user.username %}
                            <a href="{% url 'editprofile' %}" class="btn btn-outline-light" role="button" style="border-color: #0288d1; color:#0288d1">Update Profile </a>
                        {% endif %}
                        </ul>
                    </div>

                    <br>
                    <br>
                    
                    <div>
                        <div class="card" style="width: 29rem;" >
                            <div class="card-header" >
                                <h3 align="center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                    </svg>
                                    Friends List 
                                </h3>
                            </div>
                            <br>
                            <ul>
                        {% if friends_num == 0 %}
                            <h4> You have 0 StudyBuddy Friends currently </h4>
                            <br>
                            <p> Click on View Friend Requests to accept or decline friend requests sent to you! </p>
                            <p> Click on View All Profiles to find users to send friend requests to! </p>
                        {% endif %}
                         {%for f in user.profile.get_friends_list%}
                         <h4><a href="{% url 'viewprofile' f %}" style="color:#0288d1;">{{f}}</a></h4>
                        {%endfor%} 
                        <br>
                       
                        {% if user.username == request.user.username %}
                            <a href="{% url 'requests' %}" class="btn btn-outline-dark" role="button">View Friend Requests ({{request_num}})</a>
                            <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            <a href="{% url 'allprofiles' %}" class="btn btn-outline-dark" role="button">View All Profiles</a>
                        {% endif %}
                        
                        
                        

                            </ul>
                        </div>
                        <br>
                    </div>
                    <br>


                    {% if user.username != request.user.username %}
                    <!-- <button type="submit" class="btn btn-info">
                        <a href="{% url 'profile'%}">Go to Your Profile</a>
                    </button> -->
                    <!-- <a href="{% url 'profile' %}" class="btn btn-outline-dark" role="button" style="border-color: #0288d1; color:#0288d1">Go to Your Profile </a> -->
                    <a href="{% url 'profile' %}" class="btn btn-outline-dark" role="button">Go to Your Profile</a>
                    <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <a href="{% url 'allprofiles' %}" class="btn btn-outline-dark" role="button">View All Profiles</a>
                    <br>
                    <br>
                    {% endif %}
                    
                    


                </div>
                
                <div class="col-sm-6 mx-auto" align="center">
                    
                    <br>
                    <br>
                    
                    <div class="card" style="width: 37rem; margin-left: 10%;">
                        <div class="card-header">
                            <h3>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                                    <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                </svg>
                                {% if user.username == request.user.username %}
                                    Your Schedule
                                {% else %}
                                    {{user}}'s schedule: 
                                {%endif%}
                            </h3>
                        </div>

                    <ul>
                        <div class="card-body">
                    {% for s in user.profile.get_classes %}

                    <div class="row">
                        
                    <div class="col">
                        
                        <h6>
                            <a href="{% url 'viewclass' s.ClassName %}">{{s}}</a>
                            <!-- {{s}} -->
                        </h6>
                        <br>
                    </div>
                   

                    {% if user.username == request.user.username %}
                    <div class="col">
                        <ul>
                            <form action="{% url 'deleteclass' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="primary_key_post" value={{s.pk}}>
                                        <button type="submit" class="btn btn-outline-danger" style="font-weight: bold; margin-left: 50%;">
                                            x
                                        </button>
                            </form>
                            </ul>
                    </div>
                    {% endif %}
                    
                </div>
                
                    {% endfor %}
                    
                    {% if user.username == request.user.username %}
                        <a href="{% url 'schedule' %}" style="text-decoration: none; margin-right: 75%;" class="btn btn-outline-success" role="button"> +  Add Classes</a>
                    {% endif %}
                    
                </div>
                
                </ul>
                </div>
                </div>
                
            </div>
        </div>
    </body>
</html>