{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}

<html>
    <head>
        <title>Profile</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
    <head>
        <div class="container">
            <title>Study Buddy</title>
            <nav class="navbar navbar-expand-md navbar-light">
                <a href="#" class="navbar-brand">
                    <img src="{% static '/images/Study_Buddy_Logo.png' %}" alt="StudyBuddy Logo" width="70" height="70"
                    class="d-inline-block align-top" />
                    StudyBuddy</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#toggleMobileMenu"
                    aria-controls="toggleMobileMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="toggleMobileMenu">
                    <ul class="navbar-nav ms-auto text-center">
                        <li>
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'planner' %}">Planner</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'studyposts' %}">Study Posts</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'chat_index' %}">Chat</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mx-auto">
                    <h1>Profile for {{user.username}}</h1>
                    <h3>Name: {{profile_data.name}}</h3>
                    <h3>Email: {{profile_data.email}}</h3>
                    <h3>Year: {{profile_data.year}}</h3>
                    <h3>Major: {{profile_data.major}}</h3>
                    <h3>Interests: {{profile_data.interests}}</h3>

                    <br>
                    <div>

                         <h3>Friends List: </h3>
                        {% if friends_num == 0 %}
                            <h4> You have no Friends currently </h4>
                            <h5> Click on View All Profiles to find users to send friend requests to! </h5>
                            <h5> Click on View Friend Requests to accept or decline friend requests sent to you! </h5>
                        {% endif %}
                         {%for f in user.profile.get_friends_list%}
                         <h3><a href="{% url 'viewprofile' f %}">{{f}}</a></h3>
                        {%endfor%} 

                    </div>
                    <br>


                    {% if user.username == request.user.username %}
                    <button type="submit" class="btn btn-info">
                        <a href="{% url 'editprofile' %}">Update Profile Information</a>
                    </button>
                    
                    <button type="submit" class="btn btn-info">
                        <a href="{% url 'requests' %}">View Friend Requests</a>
                    </button>

                    {% endif %}

                    <button type="submit" class="btn btn-info">
                        <a href="{% url 'allprofiles' %}">View All Profiles</a>
                    </button>

                    {% if user.username != request.user.username %}
                    <button type="submit" class="btn btn-info">
                        <a href="{% url 'viewprofile' request.user.username %}">Go to Your Profile</a>
                    </button>

                    {% endif %}
                    


                </div>
                <div class="col-sm-6 mx-auto">
                    
                    <br>
                    <br>
                    <div class="card" style="width: 38rem;">
                        <div class="card-header">
                            <h3>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                                    <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                </svg>
                                {{user}}'s schedule: 
                            </h3>
                        </div>

                    <ul>
                        <div class="card-body">
                    {% for s in user.profile.get_classes %}

                    <div class="row">
                        
                    <div class="col">
                        
                        <h6>
                            {{s}}
                        </h6>
                        <br>
                    </div>
                   

                    {% if user.username == request.user.username %}
                    <div class="col">
                        <ul>
                            <form action="{% url 'deleteclass' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="primary_key_post" value={{s.pk}}>
                                        <button type="submit" class="btn btn-link" style="font-size : 20px; width: 30px; height: 28px; text-align: center; line-height: 0.5em; color:red; text-decoration: none; font-weight: bold;"> 
                                            x
                                        </button>
                            </form>
                            </ul>
                    </div>
                    {% endif %}
                </div>
                
                    {% endfor %}
                    
                    {% if user.username == request.user.username %}
                    <button type="submit" class="btn btn-outline-success" >
                        <a href="{% url 'schedule' %}" style="text-decoration: none; color:green;"> +  Add Classes</a>
                    </button>
                    {% endif %}
                </div>
                </ul>
                </div>
                </div>
                
            </div>
        </div>
    </body>
</html>