{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}

<html>
    <head>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a href="#" class="navbar-brand">
                    <img src="{% static '/images/Study_Buddy_Logo.png' %}" alt="StudyBuddy Logo" width="70" height="70"
                    class="d-inline-block align-top" />
                    StudyBuddy</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#toggleMobileMenu"
                    aria-controls="toggleMobileMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="toggleMobileMenu">
                    <ul class="navbar-nav ms-auto text-center">
                        <li>
                            <a class="nav-link" href="{% url 'login' %}">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Planner</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Chat</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mx-auto">
                    <h1>Profile for {{user.username}}</h1>
                    <h3>Name: {{profile_data.name}}</h3>
                    <h3>Email: {{profile_data.email}}</h3>
                    <h3>Year: {{profile_data.year}}</h3>
                    <h3>Major: {{profile_data.major}}</h3>
                    <h3>Interests: {{profile_data.interests}}</h3>

                    <br>
                    <div>

                         <h3>Friends List: </h3>
                         {%for f in user.profile.get_friends_list%}
                         <h3><a href="{% url 'viewprofile' f %}">{{f}}</a></h3>
                        {%endfor%} 

                    </div>
                    <br>


                    {% if user.username == request.user.username %}
                    <button type="submit" class="btn btn-info">
                        <a href="{% url 'editprofile' %}">Update Profile Information</a>
                    </button>
                    
                    <button type="submit" class="btn btn-info">
                        <a href="{% url 'requests' %}">View Friend Requests</a>
                    </button>

                    {% endif %}

                    <button type="submit" class="btn btn-info">
                        <a href="{% url 'allprofiles' %}">View All Profiles</a>
                    </button>

                    {% if user.username != request.user.username %}
                    <button type="submit" class="btn btn-info">
                        <a href="{% url 'viewprofile' request.user.username %}">Go to Your Profile</a>
                    </button>

                    {% endif %}
                    


                </div>
                <div class="col-sm-6 mx-auto">
                    <br>
                    <br>
                
                    <h3>{{user}}'s schedule: </h3>
                    {% if user.username == request.user.username %}
                    <button type="submit" class="btn btn-info">
                        <a href="{% url 'schedule' %}">Add Classes</a>
                    </button>
                    {% endif %}
                    {% for s in user.profile.get_classes %}
                    <p>{{s}}</p>
                    {% endfor %}

                </div>
            </div>
        </div>
    </body>
</html>