{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}

{% load crispy_forms_tags %}


<html>
    <head>
        <div class="container">
            <title>Study Buddy</title>
            <nav class="navbar navbar-expand-md navbar-light">
                <a href="#" class="navbar-brand">
                    <img src="{% static '/images/Study_Buddy_Logo.png' %}" alt="StudyBuddy Logo" width="70" height="70"
                    class="d-inline-block align-top" />
                    StudyBuddy</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#toggleMobileMenu"
                    aria-controls="toggleMobileMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="toggleMobileMenu">
                    <ul class="navbar-nav ms-auto text-center">
                        <li>
                            <a class="nav-link" href="{% url 'login' %}">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Planner</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'studyposts' %}">Study Posts</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Chat</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mx-auto">
                    <h1>Save Classes</h1>
                    <form method ="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{schedule_form.class_department|as_crispy_field}}
                        {{schedule_form.class_number|as_crispy_field}}

                        <button type="submit" class="btn btn-info">Submit</button>
                    </form>

                   
                    
                    <!-- {% for c in classes %}
                    {% if user == c.classes_owner %}
                    <p>{{c.class_department}} {{c.class_number}}</p>
                    {% endif %}
                    {% endfor %} -->

                    <!-- {% for l in luther_list %}
                    <p>{{l}}</p>
                    {% endfor %} -->


                    {% for u in updated_classes %}
                    <p>{{u}}</p>
                    {% endfor %}

                </div>
            </div>
        </div>
    </body>
</html>