{% load socialaccount %}
{% load bootstrap5 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load crispy_forms_tags %}

<html>
    <head>
        <title>Upload</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
    <head>
        <div class="container">
            <title>Study Buddy</title>
            <nav class="navbar navbar-expand-md navbar-light">
                <a href="{% url 'home' %}" class="navbar-brand">
                    <img src="{% static 'images/Study_Buddy_Logo.png' %}" alt="StudyBuddy Logo" width="70" height="70"
                    class="d-inline-block align-top" />
                    StudyBuddy</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#toggleMobileMenu"
                    aria-controls="toggleMobileMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="toggleMobileMenu">
                    <ul class="navbar-nav ms-auto text-center">
                        <li>
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'planner' %}">Planner</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'studyposts' %}">Study Posts</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'chat_index' %}">Chat</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </head>

    <body>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        
        
        {% if no_classes %}
            <br><br><br><br><br>
            <div class="card" align="center" style="width:50rem; margin:0 auto; float:none; margin-bottom: 10px;">
                <div class="card-header">
                    <ul>
                        <h3 > You Must Add Classes to your Schedule in order to Upload Study Posts</h3>
                    </ul>
                </div>

                <div class="card-body">
                    <ul>
                        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-calendar-plus" viewBox="0 0 16 16">
                            <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                        </svg>
                        <br>
                        <br>
                        <a href="{% url 'schedule' %}" style="text-decoration: none;font-family:Poppins,sans-serif; font-weight: 300;" class="btn btn-outline-success" role="button" > Add Classes</a>
                    </ul>
                </div>

            </div>
        {% else %}
        
        {% if submitted %}
            <h1>You have successfully uploaded a post!</h1>
        {% else %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mx-auto">
                    <form method="POST" align="center">
                        <h1>Create a Study Post</h1>
                        <h5>Fill out the form below to find study buddies for a class!</h5>
                        <br>
                        {% if friends_num != 0 %}
                            <p align="left" class="tab">Note: In Select Any of Your Friends Section- Hold down “Control”, or “Command” on a Mac, to select more than one buddy that will be at the study session! Leave empty if no friends are joining and you're looking for buddies to join your study session.</p>
                        {% endif %}
                        <br>
                        {% csrf_token %}

                        {{ form.as_p }}

                        <input type="submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
        {% endif %}

        
        {% endif %}
    </body>
</html>