{% load socialaccount %}
{% load bootstrap5 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load crispy_forms_tags %}

<html>
    <head>
        <title>Upload</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
    <head>
        <div class="container">
            <title>Study Buddy</title>
            <nav class="navbar navbar-expand-md navbar-light">
                <a href="#" class="navbar-brand">
                    <img src="{% static 'images/Study_Buddy_Logo.png' %}" alt="StudyBuddy Logo" width="70" height="70"
                    class="d-inline-block align-top" />
                    StudyBuddy</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#toggleMobileMenu"
                    aria-controls="toggleMobileMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="toggleMobileMenu">
                    <ul class="navbar-nav ms-auto text-center">
                        <li>
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'planner' %}">Planner</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'studyposts' %}">Study Posts</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'chat_index' %}">Chat</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </head>

    <body>
        {% if submitted %}
            <h1>You have successfully uploaded a post!</h1>
        {% else %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mx-auto">
                    <form method="POST" align="center">
                        <h1>Create a Study Post</h1>
                        <h5>Fill out the form below to find study buddies for a class!</h5>
                        <br>
                        <p align="left" class="tab">Note: You can only create a study post if you added classes to your schedule</p>
                        <p align="left" class="tab">Note: In Other Buddies Joining Section- Hold down “Control”, or “Command” on a Mac, to select more than one buddy that will be at the study session! Leave empty if you are looking for buddies to join your study session.</p>
                        <br>
                        {% csrf_token %}

                        {{ form.as_p }}

                        <input type="submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
        {% endif %}

        
    </body>
</html>